.homepage_infoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.homepage_design {
  display: flex;
  flex-direction: row;
}
.linegraph {
  flex: 1;
  margin: 5rem;
  width: 500px;
  height: 300px;
}
.homepage_dropdown {
  margin: 1rem !important;
}
@media (max-width: 990px) {
  .homepage_design {
    flex-direction: column;
  }
  .linegraph {
    height: 300px;
    margin: 0;
    display: inline-block;
  }
}
